<!DOCTYPE html>
<head>
    <title>
        Toko Wee! Doo and Doo Things!
    </title>
</head>
<body>
    <h2 style="font-weight:bold; font-style:italic;">
        Hello! Welcome to <span style="color:cornflowerblue">Toko Wee!</span> We always doo everything!
    </h2>
    <h4>
        Are you feeling <a href="https://www.youtube.com/watch?v=iUXtgXA18SE">lucky</a>???
    </h4>
    <hr></hr>
    <h3>{{ itemName }}</h3>
    <img src="assets/chet_baker_vinyl.jpg" width="350", height="350">
    <h4>Price: {{ itemPrice }}</h4>
    <h4>Desc:</h4>
    <pre>
    {{ itemDescription }}
    </pre>
    <h4>Stock : {{ itemStock }}</h4>
</body>