{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>TokoWee</title>
{% endblock meta %}
{% block content %}

{% include 'navbar.html' %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<div class="bg-black min-h-screen font-poppins overflow-hidden">
    <div class="container mx-auto px-4 py-6 max-w-7xl">
        {% if not products %}
            <img style="max-width: 500px; max-height: 500px; margin-top: 75px; margin-left: 382px;" src="{% static 'image/noprod.png' %}" alt="Sad face">
        {% else %}
            <div class="product-list mt-36 flex flex-col gap-12 max-w-5xl mx-auto">
                {% for product in products %}
                    {% include 'product_card.html' %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <a href="{% url 'main:create_product' %}">
        <div class="add-product text-center mt-5">
            <button class="bg-[rgb(25,25,25)] text-amber-50 rounded-lg py-2 px-4 font-bold transition-transform duration-500 transform hover:scale-105">
                Add a New Product
            </button>
        </div>
    </a>
    {% if last_login %}
    <h5 style="margin-top: 40px;" class="text-center text-white font-semibold mb-4">Last Login Session: {{ last_login }}</h5>
    {% else %}
    <h5 class="text-center text-white font-semibold mb-4">Last Login Session: No data available</h5>
    {% endif %}
    <h5 class="text-center text-white font-semibold mb-4">© Toko Wee | All rights Reserved.</h5>
    <h5 class="text-center text-white font-semibold mb-4">Nama: Arzaka Raffan Mawardi | NPM: 2306152393 | Kelas: PBP D</h5>
    <br>
</div>
{% endblock content %}
