<div class="w-full max-w-[1100px] bg-[rgb(209,176,134)] rounded-2xl p-8 mx-auto flex">
    <img src="{{ product.itemImageURL }}" alt="{{ product.itemName }}" class="ml-5 rounded-xl w-72 h-72 object-cover transform transition-transform duration-500 hover:scale-105">
    <div class="ml-12 flex-1 text-black flex flex-col justify-between">
        <div class="text-center">
            <h2 class="text-xl font-bold mb-3">{{ product.itemName }}</h2>
            <hr class="my-4 border-gray-300">
        </div>
        <h4 style="margin-top: -15px;" class="font-semibold">Price: Rp {{ product.itemPrice }}</h4>
        <h4 class="font-semibold mt-4">Description:</h4>
        <pre class="text-sm font-medium mt-2 ml-4">{{ product.itemDescription }}</pre>
        <div class="mt-6">
            <h4 class="font-semibold">Stock: {{ product.itemStock }} items</h4>
            <h4 class="font-semibold mt-2">Category: {{ product.itemCategory }}</h4>
        </div>
        <div style="position: absolute; align-self: flex-end; margin-top: 200px;">
            <a style="margin-bottom: 20px;" href="{% url 'main:edit' product.pk %}" class="flex items-center justify-center w-10 h-10">
                <img src="https://i.imgur.com/69uZ2rc.png" alt="Edit" class="w-8 h-8 transition-transform duration-300 hover:scale-110">
            </a>
            <a href="{% url 'main:delete' product.pk %}" class="flex items-center justify-center w-10 h-10">
                <img src="https://i.imgur.com/3BzlOY0.png" alt="Delete" class="w-8 h-8 transition-transform duration-300 hover:scale-110">
            </a>
        </div>
    </div>
</div>
